.page-dashboard {
    height: 100%;

    .dashboard-map {
        height: 100%;
    }

    .dashboard-gensta{
        width: 100%;
        position: absolute;
        top: 80px;
    }

    .dashboard-side {
        position: absolute;
        top: 80px;
        height: calc(~"100vh - 80px");
        width: 350px;

        padding: 10px;
    }

    .dashboard-left {
        left: 0;
        background-image: linear-gradient(to right, rgba(2, 6, 33,1), rgba(19, 30, 66,0.3));
        border: 1px solid blue;
    }

    .dashboard-right {
        right: 0;
        background-image: linear-gradient(to right, rgba(19, 30, 66,0.3), rgba(2, 6, 33,1));
        border: 1px solid red;
    }


}